<a href="https://colab.research.google.com/github/AbdulAhadRauf/Day-10/blob/main/Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions with Outputs

To make upper()
---

In [24]:
def toceilXD(firstname, lastname):
  firstname=firstname.upper()
  lastname=lastname.upper()
  return(firstname,lastname)

print(' '.join(toceilXD("aBdUl AHaD", "RAUf")))

ABDUL AHAD RAUF

To use .title()
---

In [25]:
def make_a_title(firstname, lastname):
  firstname = firstname.title()
  lastname = lastname.title()
  return(firstname, lastname)
print(" ".join(make_a_title("aBdUl AHaD", "RAUf")))

Abdul Ahad Rauf

Leap Year and Days in Month
---

In [31]:
def isleap(year):
  if year %4==0:
    if year%100==0:
      if year % 400==0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

def dayswalafnctn():
  if isleap(year):
    month_list[1] += 1
    return f'The year is leap and the days are {month_list[month-1]}'
  else:
    return f'The year is not leap and the days are {month_list[month-1]}'

In [34]:
year = int(input("Enter the year "))
month = int(input("Enter the month in number "))
month_list = [31,28,31,30,31,30,31,31,30,31,30,31]

print(dayswalafnctn())

Enter the year 2023
Enter the month in number 2
The year is not leap and the days are 28